html{
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.clearfix {
    overflow: auto;
}
:root {
    --primaryColor: #039c9c;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #faf9f8;
}
html,body,h1,h2,h3,h4,h5,h6,li,td,p,a,th,input {
    font-family: 'Almarai', sans-serif;
} 
html,body,div,span,h1,h2,h3,h4,h5,h6,p,object,iframe,
blockquote, pre, sub, sup, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,small,strong,var,b,i,dl,dt,
dd,ol, ul,li, fieldset, form, label, legend, table,
caption,tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu,nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    background-repeat: repeat-x repeat-y;
}
div.mainWrapper div.header{
    margin: 5px 20px 18px 20px;
}
div.mainWrapper div.header nav.navbar span i{
    font-size: 30px;
    margin: 5px;
    color: var(--primaryColor)
}
div.mainWrapper div.header nav.navbar span.navright{
    float: right;
}
div.mainWrapper div.header nav.navbar span.navcenter a.logo{
    background: url("https://media1.giphy.com/media/Vh3XPFr0Fy6ucMQeWB/giphy_s.gif") center center no-repeat #fff;
    width: 60px;
    height: 68px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: inline-block;
    margin-top: 0;
    background-size: cover
}
div.header nav.navbarWithMdScreen {
    display: none;
}
section.sliderImg div.sliderContainer div.chosen{
    position: relative;
    text-align: center;
    color: var(--mainWhite);
}
section.sliderImg div.sliderContainer div.chosen img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage p {
    margin: 10px 0;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage p.text1OverImage{
    font-size: 20px;
    font-weight: 800;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage p.text2OverImage{
    font-size: 18px;
    font-weight: 600;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage p.text3OverImage{
    font-size: 16px;
    font-weight: 400;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage div.btncontainer{
    margin: 5px 0 0 0;
}
section.sliderImg div.sliderContainer div.chosen span.textOverImage div.btncontainer button{
    margin: 0 5px;
    border-radius: 10px;
    padding: 5px 40px;
    font-size: 16px;
}
section.sliderImg .sliderControls  ol{
    list-style: none;
    z-index: 1000;
    text-align: center;
}
section.sliderImg .sliderControls  ol li{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 1000;
    display: inline-flex;
}
section.sliderImg .sliderControls  ol li.choosen{
    background-color: var(--mainBlack);
}
section.sliderImg div.sliderContainer div.btncontainer{
    width: 100%;
    display: flex;
}
section.sliderImg div.sliderContainer div.btncontainer .btn{
    /* position: relative; */
    width: 50%;
    padding: 10px 20px;
    background-color: var(--mainWhite);
    border: 1px solid #847146;
    font-size: 20px;
}
section.sliderImg div.sliderContainer div.btncontainer .btn-choosen{
    /* position: relative; */
    width: 50%;
    padding: 10px 20px;
    background-color: var(--primaryColor);
    border: 0px;
}